<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Avysh : Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
            <div class="form-row text-left" style="padding: 0px;">
                <div class="col-md-6" id="message">
                    <fieldset style="margin: 0px;padding: 0px;height: 54px;width: 460px;">
                        <legend style="font-style: normal;font-weight: bold;font-size: 28px;height: 23px;">Avysh Edit Details of Students</legend>
                    </fieldset>
                    <div class="form-group has-feedback">
                      
                      <button type="button" class="btn btn-dark"> <a href="/">Create</a></button>
                      <button type="button" class="btn btn-dark"> <a href="/edit">Edit</a></button>
                      <button type="button" class="btn btn-dark"> <a href="/view">View</a></button>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="from_name" style="font-size: 20px;">USN</label>
                        <input class="form-control" type="text" tabindex="-1" name="st_USN" required="" style="font-size: 21px;height: 45.5px;" value= "<%= users.usn %>" disabled="disabled" required>
                    </div>
                    
                    <div class="form-group has-feedback">
                        <label for="from_name" style="font-size: 20px;">Name</label>
                        <input class="form-control" type="text" tabindex="-1" name="st_name" required="" style="font-size: 21px;height: 45.5px;" value= "<%= users.name %>" disabled="disabled" required>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="from_email" style="font-size: 20px;">Email</label>
                        <input class="form-control" type="email" name="st_email" style="font-size: 21px;" value= "<%= users.email %>" disabled="disabled" required>
                    </div>
                    <div class="form-group has-feedback">
                        <label  for="from_phone" style="font-size: 20px;">Phone Number</label >
                        <input class="form-control" type="tel" name="st_phno" style="font-size: 21px;" value= "<%= users.phonenum %>" disabled="disabled" required>
                    </div>
                    <div class="form-group has-feedback"><label for="from_name" style="font-size: 20px;">Sem</label>
                        <select class="form-control d-lg-flex align-items-lg-end" name="st_sem"style="font-size: 20px;padding: 11px;margin: 0px;height: 47px;" value= "<%= users.sem %>" disabled="disabled" required>
                            <option value="1">1st Sem</option>
                            <option value="2">2nd Sem</option>
                            <option value="3">3rd Sem</option>
                            <option value="4">4th Sem</option>
                            <option value="5">5th Sem</option>
                            <option value="6">6th Sem</option>
                            <option value="7">7th Sem</option>
                            <option value="8">8th Sem</option>
                        </select>
                    </div>
                      <br>
                <hr>
            </div>
    </div>
    
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script>
        $('form').submit(function(e) {
    $(':disabled').each(function(e) {
        $(this).removeAttr('disabled');
    })
});
    function readURL(input) {
        if (input.files && input.files[0]) {
      
          var reader = new FileReader();
      
          reader.onload = function(e) {
            $('.image-upload-wrap').hide();
      
            $('.file-upload-image').attr('src', e.target.result);
            $('.file-upload-content').show();
      
            $('.image-title').html(input.files[0].name);
          };
      
          reader.readAsDataURL(input.files[0]);
      
        } else {
          removeUpload();
        }
      }
      
      function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();
      }
      $('.image-upload-wrap').bind('dragover', function () {
              $('.image-upload-wrap').addClass('image-dropping');
          });
          $('.image-upload-wrap').bind('dragleave', function () {
              $('.image-upload-wrap').removeClass('image-dropping');
      });
      </script>
</body>

</html>