<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Avysh : Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <form method="POST" action="/viewusval">
            <div class="form-row text-left" style="padding: 0px;">
                <div class="col-md-6" id="message">
                    <fieldset style="margin: 0px;padding: 0px;height: 54px;width: 460px;">
                        <legend style="font-style: normal;font-weight: bold;font-size: 28px;height: 23px;">Avysh View Students</legend>
                    </fieldset>
                    <div class="form-group has-feedback">
                      
                      <button type="button" class="btn btn-dark"> <a href="/">Create</a></button>
                      <button type="button" class="btn btn-dark"> <a href="/edit">Edit</a></button>
                      <button type="button" class="btn btn-dark" > <a href="/view">View</a></button>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="from_name" style="font-size: 20px;">USN</label>
                        <input class="form-control" type="text" tabindex="-1" name="st_name" required="" style="font-size: 21px;height: 45.5px;" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" style="background-color: #ff4000;padding: 8px;font-size: 18px;">Submit &nbsp;
                            <i class="fa fa-chevron-circle-right"></i></button>
                    </div>
                <hr>
            </div>
    </div>
    
    </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script>
    function readURL(input) {
        if (input.files && input.files[0]) {
      
          var reader = new FileReader();
      
          reader.onload = function(e) {
            $('.image-upload-wrap').hide();
      
            $('.file-upload-image').attr('src', e.target.result);
            $('.file-upload-content').show();
      
            $('.image-title').html(input.files[0].name);
          };
      
          reader.readAsDataURL(input.files[0]);
      
        } else {
          removeUpload();
        }
      }
      
      function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();
      }
      $('.image-upload-wrap').bind('dragover', function () {
              $('.image-upload-wrap').addClass('image-dropping');
          });
          $('.image-upload-wrap').bind('dragleave', function () {
              $('.image-upload-wrap').removeClass('image-dropping');
      });
      </script>
</body>

</html>